@include mediaqueries(desktop) {

body {
    height: 1080px;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-size: cover;
    // background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: left;
    }

.header {
        height: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .header__logo {
            margin:5% 0 0 15%;
        }
    }


.hero {
        position: absolute;
        right: 0;
        top: 0;
        height: 1080px;
        .hero__picture {
            height: 100%;
        }
    }

.main {
    width: 600px;
    align-items: left;
    justify-content: left;
    height: 400px;
    margin: 5% 0 0 8%;
    .main__title {
        text-align: left;
        font-size: 4em;
        width: 70%;
    }
    .main__text {
        text-align: left;
        width: 70%;
        font-size: 1em;
    }
    .main__input {
        margin-left: 0;
        width: 70%;
    
    }
    .main__error--active {
        color: $font-color-beta;
        margin: 15px 230px 0 0;
        font-size: 0.8em;
    }

}

.footer {
    height: auto;
    margin-top: 300px;
    width: 50%;
}
}